#header{
	background-color: DodgerBlue;
	color: white;
	height: 10vh;
	padding: 6px;

}
#navi{
	line-height: 40px;
	text-align: center;
	background-color: skyblue;
	height: 510px;
	width: 300px;
	float: left;
	padding: 5px;
}
#sec{
	height: 500px;
	width: 350px;
	float: left;
	padding: 10px;
}
.slider{
	background-image: url(Images/slide1.jpg);
	background-size: 100% 100%;
	height: 520px;
	width: 700px;
	float: left;
	animation:slider 20s infinite linear;
}
@keyframes slider{
	0%{background-image: url(Images/slide1.jpg);background-size: 100% 100%;}

	25%{background-image: url(Images/slide2.jpg);background-size: 100% 100%;}

	50%{background-image: url(Images/slide3.jpg);background-size: 100% 100%;}
	
	75%{background-image: url(Images/slide4.jpg);background-size: 100% 100%;}
}
#sec1{
	background-color: #fff;
	height: 500px;
	width: 100px;
	float: left;
}
#foot{
	background-color: DodgerBlue;
	background-size: cover;
	color: white;
	text-align: center;
	padding: 6px;
	height: 25vh;
	clear: both;
}
.logo img{
	border-radius: 10px;
	float: left;
	width: 300px;
	height: 10vh;
}
.button{
	float: right;
	margin-top: 30px;
	transform: translate(-50%,-50%);

}
.btn{
	border: 1px solid #fff;
	border-radius: 10px;
	padding: 10px 30px;
	color: #fff;
	text-decoration: none;
	transition: 0.6s ease;
}
.btn:hover{
	background-color: #fff;
	color: #000;
}

.ul1{
	position: absolute;
	left: 25%;
	list-style-type: none;
	margin-top: 25px;
}
.ul1 li{
	display: inline-block;
	padding: 20px;

}
.ul1 li a{
	font-size: 20px;
	text-decoration: none;
	color: #ffffff;
	padding: 5px 32px;
	border: 1px solid #fff;
	border-radius: 5px;
	transition: 0.6s ease;
}
.ul1 li a:hover{
	background-color: #fff;
	color: #000;
}
.ul1 li.active a{
	background-color: #fff;
	color: #000;
}
.naviii{
	float: left;
}
.ul2{
	list-style-type: none;
}
.ul2 li a{
	font-size: 20px;
	text-decoration: none;
	color: #ffffff;
	padding: 5px 40px;
	border: 1px solid #fff;
	border-radius: 10px;
	border-right-width: 3px;
	border-right-color: red;
	transition: 0.6s ease;
}
.ul2 li a:hover{
	background-color: #fff;
	color: #000;
}
.ul2 li a img{
	float: left;
	border: 1px solid #fff;
	border-radius: 10px;
	border-left-width: 3px;
	border-left-color: red;
	width: 40px;
	height: 4vh;
}
.ul2 li{
	padding: 10px 0px;
}
div{
	border-radius: 10px;
}
.ul3 li a img{
	float: right;
	border: 1px solid #fff;
	border-radius: 10px;
	width: 30px;
	height: 4vh;
}
.ul3{
	list-style:none !important;
	}
.ul3 li{
	padding: 30px;

}
hr{
	margin-bottom: 2px;
}











